{
    "ConnectionStrings": {
        "ClassName": "org.sqlite.JDBC",
        "ClassPath": "jdbc:sqlite",
        "DatabasePath": "App_Data/CEMS.db"
    },
    
    "EmailConfigurations": {
        "PersonalName": "CEM System",
        "SenderEmail": "electricitycompanymailer@gmail.com",
        "SenderPassword": "Team_AEKMMW",
        "Host": "smtp.office365.com",
        "Port": "587"
    },

    "SocketConfigurations": {
        "Host": "127.0.0.1",
        "Port": "4400",
        "Backlog": "100"
    }

}
