{
    "ConnectionStrings": {
        "ClassName": "org.sqlite.JDBC",
        "ClassPath": "jdbc:sqlite",
        "DatabasePath": "App_Data/CEMS.db"
    },
    
    "EmailConfigurations": {
        "PersonalName": "CEM System",
        "SenderEmail": "CEMSystemHelwan@gmail.com",
        "SenderPassword": "Team_4AH",
        "Host": "smtp.office365.com",
        "Port": "587"
    },

}
